<div class="container mt-4 mb-4">
    <div class="row">  
      <!-- Custom Styled Card 3 -->
      <div class="col-md-12 mb-4">
        <div class="bg-info text-white rounded p-3">
          <h5 class="mb-3">Intro for Graph</h5>
          <p>The pie chart illustrates the contribution of different regions to global clean energy innovations. This data emphasizes how various regions are prioritizing and investing in sustainable technologies, playing crucial roles in the worldwide clean energy transition.</p>
          <a target="_blank" href="https://www.renewableenergyworld.com/solar/penalized-for-creating-jobs-north-american-manufacturer-frustrated-by-solar-import-policy/" class="btn btn-outline-light btn-sm">Reference Article</a>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="bg-info text-white rounded p-3">
          <h5 class="mb-3">Overview for Graph</h5>
          <p>The data reflects the number of innovations across different clean energy technologies, showcasing the level of technological progress in each sector. Solar leads with 25 innovations, reflecting its prominent role in global energy transformation. Wind (18 innovations) and battery storage (15 innovations) also exhibit strong growth, crucial for both energy generation and storage solutions. Hydrogen, with 12 innovations, represents a developing sector with potential for decarbonizing industries, while geothermal (5 innovations) indicates its emerging but smaller contribution. This data highlights the growing diversity and progress of the clean energy sector.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-black rounded p-3 center">
          <h5 class="mb-3">Graph</h5>
          <p id="pie"></p>
        </div>
      </div>
    </div>
  </div>
